[sogenactif]
# Set it to true to enable HTML debugging
debug=false
# Demo merchant ID
merchant_id=014213245611111
# Path to the lib directory holding closed-source binaries (provided
# by Sogenactif)
library_path=../lib
# Path to the root directory holding merchant certificate
# For example, if set to /var/sogen/merchant/ then the certificate
# file must be in:
# /var/sogen/merchant/<merchant_id>/cert.<merchant_country>.<merchant_id>.php
merchants_rootdir=./merchant/
merchant_country=fr
# Currency code, described in Annexe B page 43 in doc/Dictionnaire_des_donnees.pdf
# 978 is for EURO
merchant_currency_code=978
# Path to the static files, such as credit cards logo
media_path=./media
logo_path=/media/
#
cancel_url=http://localhost:6060/sogen/cancel
return_url=http://localhost:6060/sogen/return
#auto_response_url=http://domain.tld/sogen/autoresponse
